<footer class="mainFooter">
    <img src="img/footer-img.png" class="footer-img">
    <div class="mainFooter__top">
        <div class="container">
            <div class="mainFooter__widget">
                <div class="mainFooter__links">
                    <h3>About STORMA</h3>
                    <ul class="navs">
                        <li><a href="#!">About us</a></li>
                        <li><a href="#!">Contact Us</a></li>
                        <li><a href="#!">CBD FAQ</a></li>
                        <li><a href="#!">Customer Service</a></li>
                        <li><a href="#!">Stores</a></li>
                        <li><a href="#!">Delivery Options</a></li>
                    </ul>
                </div>
                <div class="mainFooter__payment">
                    <img src="img/payment-img.jpg">
                </div>
            </div>
            <div class="mainFooter__widget">
                <div class="mainFooter__links">
                    <h3>Information</h3>
                    <ul class="navs">
                        <li><a href="#!">Privacy Policy</a></li>
                        <li><a href="#!">Terms and Conditions</a></li>
                        <li><a href="#!">New To CBD</a></li>
                        <li><a href="#!">Guides and Information</a></li>
                        <li><a href="#!">Blogs</a></li>
                    </ul>
                </div>
            </div>
            <div class="mainFooter__widget">
                <div class="mainFooter__contact">
                    <h3>Contact</h3>
                    <h2>(833) 458-7822</h2>
                    <a href="#!" class="email">help@svttromawellness.com</a>
                    <a href="#!" class="contactus">Contact with Us</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mainFooter__copyrights">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <p class="left">&copy; 2019, Stroma Wellness</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <p class="right">Website by <a href="#!">Seahawk</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>