    
    <header class="mainHeader" id="mainHeader">
        <div class="mainHeader__top">
            <div class="mainHeader__logo">
                <a href="#!"><img src="img/logo.png" alt="A Salon"></a>
            </div>

            <div class="mainHeader__mainMenu">
                <div class="menuHandle" id="showMenu"><img src="img/svg/menu.svg" alt="menu"></div>
                <ul id="mainMenu">
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!"></a></li>
                    <li>
                        <a href="#!" class="dropdown-handle">Our Product <i class="fas fa-caret-down"></i></a>
                        <ul class="dropdown-custom">
                            <li><a href="#!">Product 1</a></li>
                            <li><a href="#!">Product 2</a></li>
                            <li><a href="#!">Product 3</a></li>
                        </ul>
                    </li>
                    <li><a href="#!">Services</a></li>
                    <li><a href="#!">Locations</a></li>
                    <li><a href="#!">Contact us</a></li>
                </ul>
            </div>

            <div class="mainHeader__right">
                <a href="#!" class="userIcon"><i class="fas fa-user"></i></a>
                <a href="#!" class="btnCart">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="text"><span class="color-primary">$</span>259.99</span>
                </a>
            </div>
        </div>
    </header> <!--// .mainHeader::END \\-->