.innerBanner {
    position: relative;
    z-index: 2;
    background: image('asfalt-dark.png') right no-repeat #f5f5f5;
    // background: #f5f5f5;
    background-size: cover;
    padding: 15rem 0 8rem;
}