.mainFooter {
    position: relative;
    z-index: 2;

    .container {
        overflow: hidden;
    }

    .footer-img {
        position: absolute;
        bottom: 175px;
        right: -20px;
        width: 19.3%;

        @media (max-width: $macbook) {
            width: 25%;
        }

        @media (max-width: $laptop - 1) {
            display: none;
        }
    }

    &__top {
        padding: 8rem 0 5rem;
        background: $color-white;

        .mainFooter__widget {
            width: 25%;
            float: left;

            @media (max-width: $laptop - 1) {
                width: calc(100% / 3);
            }

            @media (max-width: $tablet-big - 1) {
                &:nth-child(2) {
                    width: 28%;
                }

                &:last-child {
                    width: 38%;
                }
            }

            @media (max-width: $mobile-big) {
                width: 100% !important;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }

            .mainFooter__links {
                margin: 0 0 30px;

                h3 {
                    font-family: $font-family-primary;
                    font-weight: $font-black;
                    font-size: 21px;
                    line-height: 1.5;
                    letter-spacing: 0;
                    color: #15254d;
                    margin: 0 0 20px;
                }

                .navs {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &.justify-end {
                        justify-content: flex-end;
                    }
                    
                    li {
                        display: block;
                        
                        a {
                            display: block;
                            font-family: $font-family-primary;
                            font-weight: $font-normal;
                            font-size: 16px;
                            line-height: 34px;
                            letter-spacing: 0;
                            color: $color-secondary;
                        }

                        &:hover {

                            a {
                                color: $color-primary;
                            }
                        }
                    }

                    &.adjusted {
                        @media screen and (max-width: $mobile-big) {
                            margin-top: -5rem;
                            margin-bottom: 2rem;
                        }
                    }

                    @media (max-width: $mobile-big) {
                        padding: 1rem 0;
                        align-items: center;
                        justify-content: center;
                        &.justify-end { justify-content: center; }
                    }
                }
            }

            .mainFooter__payment {

                img {
                    width: auto;
                }
            }

            .mainFooter__contact {

                h3 {
                    font-family: $font-family-primary;
                    font-weight: $font-black;
                    font-size: 21px;
                    line-height: 1.5;
                    letter-spacing: 0;
                    color: #15254d;
                    margin: 0 0 20px;
                }

                h2 {
                    font-family: $font-family-primary;
                    font-weight: $font-black;
                    font-size: 25px;
                    line-height: 34px;
                    letter-spacing: 0;
                    color: $color-secondary;
                    margin: 0 0 10px;
                }

                .email {
                    display: block;
                    font-family: $font-family-primary;
                    font-weight: $font-normal;
                    font-size: 25px;
                    line-height: 34px;
                    letter-spacing: 0;
                    color: $color-secondary;
                }

                .contactus {
                    display: inline-block;
                    font-size: 13.3px;
                    font-family: $font-family-primary;
                    font-weight: $font-semi;
                    line-height: 1.2;
                    color: $color-secondary;
                    text-transform: uppercase;
                    padding: 20px 60px;
                    border: 1px solid $color-secondary;
                    position: relative;
                    z-index: 1;
                    margin-top: 40px;

                    &:hover {
                        background-color: $color-secondary;
                        border-color: $color-secondary;
                        color: $color-primary;
                    }

                    &:before {
                        content: "";
                        position: absolute;
                        bottom: -10px;
                        left: -10px;
                        background: transparent url(../img/button-bg.png) no-repeat center center;
                        width: 55px;
                        height: 55px;
                        z-index: 0;
                    }

                    @media (max-width: $laptop - 1) {
                        padding: 20px 40px;
                    }
                }
            }
        }
    }

    &__copyrights {
        padding: 4rem 0;
        
        p {
            font-family: $font-family-primary;
            font-weight: $font-normal;
            font-size: 18px;
            line-height: 34px;
            letter-spacing: 0;
            color: $color-secondary;
            margin: 0;

            &.right {
                text-align: right;
                
                @media (max-width: $mobile-big) {
                    text-align: center;
                }
            }

            a {
                display: inline-block;
                position: relative;
                z-index: 1;
                color: $color-secondary;

                &:before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 20px;
                    background: transparent url(../img/button-bg.png) no-repeat center center;
                    width: 33px;
                    height: 41px;
                    z-index: -1;
                }

                &:hover { color: red; }
            }
        }
    }

    @media (max-width: $mobile-big) {
        text-align: center;

        .text-right {
            text-align: center !important;
        }
    }
}