.mainHeader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    padding: 3rem 2rem;
    width: 100%;
    transition: all .4s ease-out;

    @media (max-width: $tablet-big - 1) {
        padding: 0 2rem;
    }

    $self: &;

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        @media screen and (max-width: $tablet-big) {
            padding: 1.8rem 0;
        }

        @media (max-width: $mobile-big) {
            padding: 1.5rem 0;
        }
    }

    &__logo {
        display: flex;

        a {
            display: block;
            transition: none;

            img {
                max-width: 100%;
                
                @media (max-width: $tablet-big) {
                    width: 15rem;
                }

                @media (max-width: $tablet) {
                    width: 12rem;
                }

                @media (max-width: $mobile-big) {
                    width: 195px;
                    float: left;
                }
            }

            @media (max-width: $tablet-big) {
                // padding: 2rem 1rem;
            }
            @media (max-width: $mobile-big) {
                
            }
        }

        @media (max-width: $tablet-big) {
            // width: 30%;
            // margin-left: 0;
        }
        @media (max-width: $mobile-big) {
            // width: auto;
            // flex-shrink: 1;
            // flex-basis: 20rem;
        }
        @media (max-width: $mobile-medium) {
            // flex-basis: 16rem;
        }
        @media (max-width: $mobile-extra-small) {
            // flex-basis: 14rem;
        }
    }

    &__mainMenu {
        padding: 0;

        .menuHandle {
            display: none;
            width: auto;
            cursor: pointer;
            overflow: hidden;

            @media (max-width: $tablet-small) {
                display: block;
            }

            i {
                color: $color-secondary;
                float: left;
            }
        }

        > ul {
            display: flex;
            align-items: center;

            > li {
                position: relative;
                display: block;
                z-index: 1;
                font-size: 1.8rem;
                margin-left: 3rem;
                transition: all .3s ease-out;
                border-bottom: 3px solid transparent;
                
                &:first-child {
                    margin-left: 0;
                }

                a {
                    display: block;
                    padding: 1.2rem 0 1rem;
                    color: $color-secondary;

                    @media (max-width: $tablet-big - 1) {
                        color: $color-white;
                        font-size: 1.8rem;
                    }

                    i {

                        @media (max-width: $tablet-small) {
                            margin-left: 1rem;
                            margin-right: -2rem;
                        }
                    }
                }

                .dropdown-custom {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 22rem;
                    background: $color-white;
                    border-top: 3px solid $color-primary;
                    box-shadow: 0 0 10px 1px rgba($color-black, 0.5);

                    opacity: 0;
                    visibility: hidden;
                    transform: translateY(5rem);
                    transition: all .25s ease-out;

                    li {
                        display: block;
                        
                        a {
                            padding: 1.5rem 2rem;

                            @media (max-width: $tablet-big - 1) {
                                color: $color-secondary;
                            }

                            &:hover {
                                color: $color-primary;
                                background: rgba($color-grey-dark, 1);
                            }
                        }
                    }

                    @media (max-width: $tablet-small) {
                        display: none;
                        position: static;
                        opacity: 1;
                        width: 100%;
                        visibility: visible;
                        transform: translateY(0);
                        transition: none;
                    }
                }

                &:hover {
                    border-color: $color-primary;

                    > a {
                        color: $color-primary;
                    }

                    .dropdown-custom {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(0);
                    }

                    @media (max-width: $tablet-big) {
                        border-color: transparent;

                        > a {
                            color: $color-primary;
                        }
                    }
                }

                &.active {
                    @media (max-width: $tablet-big) {
                        border-color: $color-primary;
                    }
                }

                @media (max-width: $tablet-big) {
                    font-size: 1.4rem;
                }

                @media (max-width: $tablet-small) {
                    width: 100%;
                    margin-left: 0;
                    text-align: center;
                }
            }

            @media (max-width: $tablet-small) {
                display: none;
                position: absolute;
                top: 55.19px;
                left: 0;
                width: 100%;
                padding-top: 55.19px;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                height: calc(100vh - 55.19px);
                background: rgba(black, 0.85);
            }

            @media (max-width: $mobile-big) {
                top: 43.5px;
                padding-top: 43.5px;
                height: calc(100vh - 43.5px);
                max-height: calc(100vh - 43.5px);
                overflow: auto;
            }
        }
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .userIcon {
            padding: 1rem 2rem;
        }

        .btnCart {
            display: flex;
            align-items: center;
            background: $color-secondary;

            i {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                width: 4rem;
                height: 4rem;
                background: $color-primary;
            }

            .text {
                color: white;
                padding: 0 1rem;
            }
        }

        @media (max-width: $tablet-small) {
            display: none;
        }
    }

    &--sticky {
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: rgba(white, 0.97);
        box-shadow: 0 5px 5px 0 rgba(black, 0.09);

        @media (max-width: $tablet-big - 1) {
            padding-top: 0;
            padding-bottom: 0;
        }

        #{$self}__top {
            padding: 0;

            @media (max-width: $tablet-big - 1) {
                padding-top: 1.8rem;
                padding-bottom: 1.8rem;
            }

            @media (max-width: $mobile-big) {
                padding-top: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }
}